body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
    text-align: center;
}

header {
    background: #0a2540;
    color: white;
    padding: 50px 20px;
}

.links {
    max-width: 700px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.quick-links .card {
    font-size: 14px;
    padding: 12px;
}


.card {
    display: block;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-decoration: none;
    color: #0a2540;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.content {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

footer {
    margin: 40px 0;
    color: #666;
}

section {
    margin-bottom: 40px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.skill-grid span {
    background: #eef2f6;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
}

/* CARD SYSTEM */
.info-card {
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.card-blue {
    background: #eef7ff;
}

.card-pink {
    background: #fff1f1;
}

.card-green {
    background: #f1fff4;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.subtext {
    font-style: italic;
    color: #555;
    margin-top: 15px;
}

/* ICON HEADERS */
.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}


